[submodule "spiflash"]
	path = spiflash
	url = https://github.com/ultraembedded/core_spiflash
[submodule "usb_host"]
	path = usb_host
	url = https://github.com/ultraembedded/core_usb_host.git
[submodule "usb_cdc"]
	path = usb_cdc
	url = https://github.com/ultraembedded/core_usb_cdc
[submodule "usb_fs_phy"]
	path = usb_fs_phy
	url = https://github.com/ultraembedded/core_usb_fs_phy
[submodule "usb_bridge"]
	path = usb_bridge
	url = https://github.com/ultraembedded/core_usb_bridge.git
