[submodule "spiflash"]
	path = spiflash
	url = https://github.com/ultraembedded/core_spiflash
[submodule "usb_host"]
	path = usb_host
	url = https://github.com/ultraembedded/core_usb_host.git
[submodule "usb_cdc"]
	path = usb_cdc
	url = https://github.com/ultraembedded/core_usb_cdc
[submodule "usb_fs_phy"]
	path = usb_fs_phy
	url = https://github.com/ultraembedded/core_usb_fs_phy
[submodule "usb_bridge"]
	path = usb_bridge
	url = https://github.com/ultraembedded/core_usb_bridge.git
[submodule "sdram_axi4"]
	path = sdram_axi4
	url = https://github.com/ultraembedded/core_sdram_axi4
[submodule "dbg_bridge"]
	path = dbg_bridge
	url = https://github.com/ultraembedded/core_dbg_bridge
[submodule "ftdi_bridge"]
	path = ftdi_bridge
	url = https://github.com/ultraembedded/core_ftdi_bridge.git
